<div class="main">
  <div id="header">
    <mat-toolbar color="primary">
      <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
      </button>-->
      <span>{{ (appService.title|async) || 'Unknown Checklist' }}</span>
      <span class="example-spacer"></span>
      <!--<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
      </button>-->
      <button mat-icon-button class="share" aria-label="Share" (click)="showLink()">
          <mat-icon>link</mat-icon>
      </button>
    </mat-toolbar>
  </div>


  <div id="content">
    <router-outlet></router-outlet>
  </div>


  <div id="footer">
    <!--<app-footer></app-footer>-->
  </div>
</div>